<div>
  <h1>Password Generator</h1>
  <div>
    <div>
      Password Size :
      <input id="len" type="number" [(ngModel)]="password.length" />
    </div>
    <div>
      <input type="checkbox" [(ngModel)]="password.alphabets" id="alphabets" />
      <label for="alphabets"> Must include an Alphabet </label>
    </div>
    <div>
      <input type="checkbox" [(ngModel)]="password.numbers" id="numbers" />
      <label for="numbers"> Must include a Numbers </label>
    </div>
    <div>
      <input
        type="checkbox"
        [(ngModel)]="password.specialChars"
        id="specialChars"
      />
      <label for="specialChars"> Must include a Special Character </label>
    </div>
    <button type="submit" (click)="generatePassword()">
      Generate Password
    </button>
    <div *ngIf="error" style="color: red">{{ error }}</div>
    <div *ngIf="!error && generatedPassword">
      <h3 style="margin-top: 30px">Generated Password</h3>
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        [(ngModel)]="generatedPassword"
        disabled
      />
      <i
        class="fa fa-eye"
        *ngIf="showPassword"
        (click)="showPassword = !showPassword"
      ></i>
      <i
        class="fa fa-eye-slash"
        *ngIf="!showPassword"
        (click)="showPassword = !showPassword"
      ></i>
      <i class="fa fa-copy" (click)="copyToClipboard(generatedPassword)"></i>
    </div>
    <div *ngIf="success" style="color: green" id="success">{{ success }}</div>
  </div>
</div>
